[submodule "Libraries/CanOpenSTM32"]
	path = Libraries/CanOpenSTM32
	url = https://github.com/CANopenNode/CanOpenSTM32.git
[submodule "Libraries/Peripherals/bno055"]
	path = Libraries/Peripherals/bno055
	url = https://github.com/boschsensortec/BNO055_SensorAPI